/*

 \    /  ._  o  _|_  _|_   _   ._     |_       o
  \/\/   |   |   |_   |_  (/_  | |    |_)  \/  o
                               _           /
 |_|       _   o  ._    _.    |_)   _.  _|_  ._  o  |
 | |  |_|  /_  |  | |  (_|    |    (_|   |_  |   |  |<

*/

/* Default */
:root {
    --main-color: rgb(40, 40, 40);
    --secondary-color: rgb(25, 25, 25);
    --border-color: rgba(70, 70, 70, 0.9);
    --light-color: rgb(140, 140, 140);
    --green-color: #38bb93;
    --green-color-hover: rgba(56, 187, 147, 0.8);
    --red-color: rgb(234, 60, 83);
    --red-color-hover: rgb(234, 60, 83, 0.9);
    --orange-color: rgb(253, 103, 58);
    --orange-color-hover: rgba(253, 103, 58, 0.8);
    --blue-color: rgb(48, 92, 166);
    --blue-color-hover: rgba(48, 92, 166, 0.8);
    --yellow-color: rgb(255, 230, 0);
    --yellow-color-hover: rgba(255, 230, 0, 0.8);
    --pink-color: rgb(255, 105, 180);
    --pink-color-hover: rgba(255, 105, 180, 0.8);
    --text-color: rgb(255, 255, 255);
    --text-color-black: rgb(22, 22, 22);
    --header-size: 50px;
    --bottom-size: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}


/*Font:*/
@font-face {
    font-family: 'main-font';
    src: url('BebasNeue-Regular.ttf') format('truetype');
}

/* Body */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}

%default-style {
    position: relative;
    width: 100%;
}

/* Header */
.header {
    @extend %default-style;
    padding: 10px;
    background-color: var(--main-color);
    font-family: "main-font", sans-serif;
    color: var(--text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;

    border-bottom: thin solid var(--border-color);
    border-top: thin solid var(--border-color);
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);

    /* Content */

    .header {
        .settingsButton {
            position: absolute;
            width: 1.5rem;
            height: 1.5rem;

            right: 1rem;
            top: calc(50% - (1.5rem / 2));

            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--white-color);

            cursor: pointer;

            transition: color .2s ease;
        }

        .active {
            color: var(--blue-color-hover);
        }
    }

    .content {
        @extend %default-style;
        height: 95%;
        
        .countInput {
            @extend %default-style;
            height: 5%;

            .input-box {
                width: 100%;
                height: 100%;
                padding: 10px;
                border: 1px solid var(--border-color);
                background-color: var(--secondary-color);
                color: var(--light-color);
                transition: border-color 0.3s, background-color 0.3s, color 0.3s;
            }

            .input-box:focus,
            .input-box:hover {
                border-color: var(--green-color);
                background-color: var(--secondary-color);
                color: var(--light-color);
            }

            .input-box:focus {
                outline: none;
                box-shadow: 0 0 5px var(--green-color);
            }

            .input-box::placeholder {
                color: var(--light-color);
                font-style: italic;
            }
        }

        .banks {
            border-top: thin solid var(--border-color);
            @extend %default-style;
            height: 40%;

            .bankContainer {
                @extend %default-style;
                height: 5rem;
                color: var(--text-color);
                font-size: medium;
                border-bottom: thin solid var(--border-color);

                &:nth-child(odd) {
                    background-color: var(--main-color);
                }

                &:nth-child(even) {
                    background-color: var(--secondary-color);
                }
                
                .logo {
                    position: absolute;
                    left: 1rem;
                    top: calc(50% - (3rem/2));
                    width: 3rem;
                    height: 3rem;
                    background-color: var(--main-color);
                    border: thin solid var(--border-color);
                    border-radius: 0.5rem;
                    overflow: hidden;

                    img {
                        position: relative;

                        width: 100%;
                        height: 100%;

                        max-width: 100%;
                        max-height: 100%;

                        border: thin solid var(--border-color);
                        border-radius: 0.5rem;
                    }
                }

                .bankName {
                    position: absolute;
                    left: 4.5rem;
                    top: calc(50% - (3rem/2));
                    color: var(--text-color);
                    font-family: "main-font", sans-serif;

                    span {
                        font: inherit;
                    }
                }
                
                .progressBar {
                    position: absolute;
                    right: 1rem;
                    top: calc(50% + (3rem/2) - (1.25rem));
                    width: calc(100% - 7.5rem);
                    height: 1.25rem;

                    background-color: var(--light-color);
                    color: var(--text-color);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .countInput {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }

                    .fulfill {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 0%;
                        height: 100%;

                        background-color: var(--green-color);

                        transition: width .5s ease;
                    }

                    .statusText {
                        font-family: "main-font", sans-serif;
                        color: var(--green-color-hover);

                        mix-blend-mode: difference;
                    }
                }

                .addButton {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;

                    right: 1rem;
                    top: 0.75rem;
                    font-size: x-large;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: var(--green-color-hover);

                    cursor: pointer;
                }

                .saveButton {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;

                    right: 1rem;
                    top: 0.75rem;
                    font-size: x-large;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: var(--green-color-hover);

                    cursor: pointer;
                }

                .resetButton {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;

                    left: 4.5rem;
                    bottom: 0.75rem;
                    font-size: x-large;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: var(--blue-color-hover);

                    cursor: pointer;
                }
            }
        }

        .logs {
            border-top: thin solid var(--border-color);
            @extend %default-style;
            height: 48.5%;
            max-height: 48.5%;
            overflow: auto;

            .logContainer {
                position: relative;

                padding: 0.5rem;
                color: var(--text-color);
                font-size: medium;

                &:nth-child(odd) {
                    background-color: var(--main-color);
                }

                &:nth-child(even) {
                    background-color: var(--secondary-color);
                }

                .datum {
                    font-size: small;
                    color: var(--yellow-color);
                }

                .text {
                    padding-left: 0.5rem;
                    padding-right: 2rem;
                    overflow-wrap: break-word;
                }

                .deleteButton {
                    position: absolute;
                    width: 1.5rem;
                    height: 1.5rem;

                    right: 1rem;
                    top: calc(50% - (1.5rem / 2));

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: var(--red-color);

                    cursor: pointer;
                }

                border-bottom: thin solid var(--border-color);
            }
        }
    }

    .confirm-container {
        position: absolute;

        left: 10%;
        top: calc(50% - (20% / 2));
        width: 80%;
        height: 15%;

        background-color: var(--main-color);

        border-radius: 10px;
        border: thin solid var(--border-color);

        color: var(--text-color);

        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;

        transition: opacity .2s ease;

        .header {
            position: absolute;
            left: 0;
            top: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: var(--secondary-color);
            border: none;
            border-bottom: thin solid var(--border-color);

            margin-bottom: 10px;
        }

        span {
            position: absolute;
            top: var(--header-size);
            color: inherit;
        }

        .acceptButton {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 50%;
            height: calc(var(--header-size) - 15px);

            background-color: var(--green-color);
            color: var(--text-color);

            display: flex;
            justify-content: center;
            align-items: center;

            border-bottom-left-radius: 10px;
        }

        .denyButton {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 50%;
            height: calc(var(--header-size) - 15px);

            background-color: var(--red-color);
            color: var(--text-color);

            display: flex;
            justify-content: center;
            align-items: center;

            border-bottom-right-radius: 10px;
        }
    }
}

/* Default Styling */
/*Scrollbar*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--green-color);
}

/* Scrollbar END */